<div class="container">
  <% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      
      <div class="panel panel-default no-border">
        <div class="panel-body">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
        </div>
      </div>
        
    </aside>
    <div class="col-md-6">

      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>

      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
</div class="container-fluid">
	<div class="center jumbotron">
	  <h1>Welcome to 6TERS,</br><small>(it's all about Dating)</small></h1>


	  <h2>
	    This is the home page for the
	    <a href="https://my6ters.herokuapp.com/">6TERS</a>
	    online social app for worldwide communication.
	  </h2>

	  <%= link_to "Sign Up!", signup_path, class: "btn btn-lg btn-primary btn-sm" %>
	</div>
</div>

<div class="center">
	<%= link_to image_tag("fone.png", alt: "Rails logo"),
	            '#' %>
            </div>
<% end %>
</div>